/dist
/.output
/.wxt
.env
/playwright-report
/test-results
/.playwright

# Xcode
/DerivedData
**/*.xcuserdata
**/*.xcworkspace/xcuserdata
**/*.xcshareddata/WorkspaceSettings.xcsettings
**/*.xcuserstate
**/build
/.playwright-mcp
