name: Test

on:
  pull_request:
    branches: [master]
    paths:
      - "src/**"
      - "tests/**"
      - "e2e/**"
      - "modules/**"
      - "scripts/**"
      - "public/**"
      - "*.{ts,js,json,toml}"
      - "package.json"
      - "bun.lock"
      - ".github/workflows/**"

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: oven-sh/setup-bun@v2
        with:
          bun-version: latest

      - name: Install dependencies
        run: bun ci

      - name: Install Playwright browsers
        run: bunx playwright install --with-deps

      - name: Run Bun tests
        run: bun test

      - name: Run Playwright tests
        run: bunx playwright test

      - uses: actions/upload-artifact@v5
        if: ${{ !cancelled() }}
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
